* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #555;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    width: 100%;
    height: 70px;
    background-color: #d0cece;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.box {
    margin: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    width: 100%;
    height: 70px;
    background-color: #d0cece;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username {
    margin-right: 5px;
    height: 30%;
}

.btn {
    height: 35%;
    width: 50px;
}